@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* common style */
.display-flax{
    display: flex;
}
.main-margin{
   max-width:1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}

.pry-btn{
    width: 180px;
    height: 64px;
    background-color: rgba(255, 144, 14, 1.00);
    border-radius: 9px;
    color: #ffffff;
    font-size: 1.25rem;
    border: none;
}
.dark-1{
    color: rgba(19, 19, 19, 1.00);
    font-size: 2.8rem;
    font-weight: 800;
}
.dark-2{
    color: rgba(66, 66, 66, 1.00);
}
.dark-3{
    color:rgba(114, 114, 114, 1.00);
}
.bg-color{
    background-color: rgba(255, 143, 14, 0.363);
    
}
/* header style */
nav{
    justify-content: space-between;
    align-items: center;
}
header>section{
   max-width:1440px;
    margin: 0 auto;
}
.list-item{
    list-style: none;
    margin-right: 10px;
}
.list-link{
    text-decoration: none;
}
.banner-title{
    
    margin: 0 auto;
    text-align: center;
}
.banner-title h2{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 5px;
    
}
.banner-img img{
    width: 100%;
    margin-top: 30px;
}
/* teams */
.teams{
    justify-content: space-between;
    align-items: center;
}
.teams > .teams-img {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
}
.teams-features{
    margin-left: 40px;
    width: 537px;
    height: 304px;
}
/* features */
.features{
    justify-content: space-between;
    align-items: center;
}
.features-info{
    
    margin-right: 140px;
}
.features-title> h3{
    font-size: 2.8rem;
    color: #131313;
    border-left: 5px solid rgba(255, 144, 14, 1.00);
    padding: 10px;
    margin-bottom: 10px;
}

.features-card{
  
    margin-top: 10px;
    padding-left: 12px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.features-img img{
    width: 100%;
}
.features-img button{
    padding: 45px 42px;
    background-color: #ff900e;
    border-radius: 10px;
    color: #ffffff;
    margin-left: -100px;
    margin-top: -100px;
    border: none;
}
.features-img button :nth-child(1){
    font-size: 4rem;
    font-weight: 800;
}
.features-img button:nth-child(2){
    font-size: 1.8rem;
    font-weight: 700;
}
/* facts */
.facts-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.facts-card{
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 9px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* sponsors-info */
.sponsors-info{
    max-width: 580px;
    text-align: center;
    margin: 50px auto;
}.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.sponsors-companies img{
    filter: grayscale(100%);
}
/* footer */
.footer{
    background-color: rgba(255, 143, 14, 0.363); 
    text-align: center;
    padding: 10px;
    margin: 50px auto;
}
@media screen and (max-width:576px){
    main>section {
    margin-top: 60px;
    }
    
    nav, 
    .teams, 
    .features
    {
        flex-direction: column;
    }
    .banner-img{
        margin-top: 30px;
    }
    .nav-bar ul{
        flex-direction: column;
    }
    .teams>.teams-img ,  .facts-cards, .sponsors-companies  {
    grid-template-columns: 1fr;
  
   }
 
  .features-info,
  .features-cards {
    width: 100%;
  }

  .features-info {
    margin-right: 0;
    padding: 0 20px; /* optional: adds horizontal padding for better readability */
  }


  .features-card {
    width: calc(100% - 15px);
    
  }

    .teams-features{
        text-align: center;
    }
    .features-title> h3{
        border-left: 0;
        border-bottom: 5px solid #ff900e;
    }
    .features-img button{
        margin-top: 20px;
        margin-left: 20px;
    }
   .facts-cards, .sponsors-companies{
      gap: 50px;
    justify-items: center;
    
   }
   
}
@media screen and (min-width:577PX) and (max-width:992px){
     main>section {
    margin-top: 60px;
    }
    
    nav,.teams , .features {
        flex-direction: column;
    }
     .nav-bar ul{
        flex-direction: column;
    }
    .teams>.teams-img ,  .facts-cards , .sponsors-companies {
    grid-template-columns: repeat(2, 1fr);
  
   }
    .features-img img {
    
    margin-top: 20px;
  }
    .features-img button{
        margin-top: 20px;
        margin-left: 20px;
    }
    .teams-features{
        text-align: center;
    }
     .facts-cards , .sponsors-companies{
      gap: 50px;
    justify-items: center;
    
   }
     .features-info,
  .features-cards {
    width: 100%;
  }

  .features-info {
    margin-right: 0;
    padding: 0 20px; /* optional: adds horizontal padding for better readability */
  }


  .features-card {
    width: calc(100% - 15px);
    
  }
    
}